<footer class="site-footer">

  <div class="wrapper">

    <p class="footer-heading"><strong>neal.enssle</strong>.me</p>

    <p class="footer-text">A blog mostly about managing programmers, engineers, developers, designers, technical and creative types. By <a href="/about">Neal Enssle</a>.</p>

    <ul class="social-media-list">
      <li>
        <a href='mail&#116;&#111;&#58;%&#54;5&#110;ssl&#101;+&#37;77eb&#64;&#103;%6Dail&#46;c%&#54;Fm'><img src="{{ site.image_path }}/icons/mail.png" alt="Mail" border="0" /></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/nealenssle"><img src="{{ site.image_path }}/icons/linkedin.png" alt="LinkedIn" border="0" /></a>
      </li>
      <li>
        <a href="https://twitter.com/nealenssle"><img src="{{ site.image_path }}/icons/twitter.png" alt="Twitter" border="0" /></a>
      </li>
      <li>
        <a href="https://github.com/nealenssle"><img src="{{ site.image_path }}/icons/github.png" alt="GitHub" border="0" /></a>
      </li>
      <li>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="{{ site.image_path }}/icons/rss-feed.png" alt="RSS feed" border="0" /></a>
      </li>
    </ul>

    <p class="copyright">Copyright &copy; 2015 by <a href="/about">Neal Enssle</a></p>

  </div>

</footer>
